.icheckbox_flat,
.iradio_flat {
    background: url(/images/iCheck/flat/flat.png) no-repeat;
}
/* red */
.icheckbox_flat-red,
.iradio_flat-red {
    background: url(/images/iCheck/flat/red.png) no-repeat;
}
/* green */
.icheckbox_flat-green,
.iradio_flat-green {
    background: url(/images/iCheck/flat/green.png) no-repeat;
}

/* blue */
.icheckbox_flat-blue,
.iradio_flat-blue {
    background: url(/images/iCheck/flat/blue.png) no-repeat;
}

/* aero */
.icheckbox_flat-aero,
.iradio_flat-aero {
    background: url(/images/iCheck/flat/aero.png) no-repeat;
}

/* grey */
.icheckbox_flat-grey,
.iradio_flat-grey {
    background: url(/images/iCheck/flat/grey.png) no-repeat;
}

/* orange */
.icheckbox_flat-orange,
.iradio_flat-orange {
    background: url(/images/iCheck/flat/orange.png) no-repeat;
}

/* yellow */
.icheckbox_flat-yellow,
.iradio_flat-yellow {
    background: url(/images/iCheck/flat/yellow.png) no-repeat;
}

/* pink */
.icheckbox_flat-pink,
.iradio_flat-pink {
    display: inline-block;
    background: url(/images/iCheck/flat/pink.png) no-repeat;
}

/* purple */
.icheckbox_flat-purple,
.iradio_flat-purple {
    background: url(/images/iCheck/flat/purple.png) no-repeat;
}

.icheckbox_futurico,
.iradio_futurico {
    background: url(/images/iCheck/futurico/futurico.png) no-repeat;
}

.icheckbox_line .icheck_line-icon,
.iradio_line .icheck_line-icon,
.icheckbox_line-red .icheck_line-icon,
.iradio_line-red .icheck_line-icon,
.icheckbox_line-green .icheck_line-icon,
.iradio_line-green .icheck_line-icon,
.icheckbox_line-blue .icheck_line-icon,
.iradio_line-blue .icheck_line-icon,
.icheckbox_line-aero .icheck_line-icon,
.iradio_line-aero .icheck_line-icon,
.icheckbox_line-grey .icheck_line-icon,
.iradio_line-grey .icheck_line-icon,
.icheckbox_line-orange .icheck_line-icon,
.iradio_line-orange .icheck_line-icon,
.icheckbox_line-yellow .icheck_line-icon,
.iradio_line-yellow .icheck_line-icon,
.icheckbox_line-pink .icheck_line-icon,
.iradio_line-pink .icheck_line-icon,
.icheckbox_line-purple .icheck_line-icon,
.iradio_line-purple .icheck_line-icon {
    background: url(/images/iCheck/line/line.png) no-repeat;
}

/* red */
.icheckbox_minimal-red,
.iradio_minimal-red {
    background: url(/images/iCheck/minimal/red.png) no-repeat;
}

/* green */
.icheckbox_minimal-green,
.iradio_minimal-green {
    background: url(/images/iCheck/minimal/green.png) no-repeat;
}

/* blue */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    background: url(/images/iCheck/minimal/blue.png) no-repeat;
}

/* aero */
.icheckbox_minimal-aero,
.iradio_minimal-aero {
    background: url(/images/iCheck/minimal/aero.png) no-repeat;
}

/* grey */
.icheckbox_minimal-grey,
.iradio_minimal-grey {
    background: url(/images/iCheck/minimal/grey.png) no-repeat;
}

/* orange */
.icheckbox_minimal-orange,
.iradio_minimal-orange {
    background: url(/images/iCheck/minimal/orange.png) no-repeat;
}

/* yellow */
.icheckbox_minimal-yellow,
.iradio_minimal-yellow {
    background: url(/images/iCheck/minimal/yellow.png) no-repeat;
}

/* pink */
.icheckbox_minimal-pink,
.iradio_minimal-pink {
    background: url(/images/iCheck/minimal/pink.png) no-repeat;
}

/* purple */
.icheckbox_minimal-purple,
.iradio_minimal-purple {
    background: url(/images/iCheck/minimal/purple.png) no-repeat;
}

.icheckbox_polaris,
.iradio_polaris {
    background: url(/images/iCheck/polaris/polaris.png) no-repeat;
}

.icheckbox_square,
.iradio_square {
    background: url(/images/iCheck/square/square.png) no-repeat;
}

/* red */
.icheckbox_square-red,
.iradio_square-red {
    background: url(/images/iCheck/square/red.png) no-repeat;
}

/* green */
.icheckbox_square-green,
.iradio_square-green {
    background: url(/images/iCheck/square/green.png) no-repeat;
}

/* blue */
.icheckbox_square-blue,
.iradio_square-blue {
    background: url(/images/iCheck/square/blue.png) no-repeat;
}

/* aero */
.icheckbox_square-aero,
.iradio_square-aero {
    background: url(/images/iCheck/square/aero.png) no-repeat;
}

/* grey */
.icheckbox_square-grey,
.iradio_square-grey {
    background: url(/images/iCheck/square/grey.png) no-repeat;
}

/* orange */
.icheckbox_square-orange,
.iradio_square-orange {
    background: url(/images/iCheck/square/orange.png) no-repeat;
}

/* yellow */
.icheckbox_square-yellow,
.iradio_square-yellow {
    background: url(/images/iCheck/square/yellow.png) no-repeat;
}

/* pink */
.icheckbox_square-pink,
.iradio_square-pink {
    background: url(/images/iCheck/square/pink.png) no-repeat;
}

/* purple */
.icheckbox_square-purple,
.iradio_square-purple {
    background: url(/images/iCheck/square/purple.png) no-repeat;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat,
    .iradio_flat {
        background-image: url(/images/iCheck/flat/flat@2x.png);
    }

    /* red */
    .icheckbox_flat-red,
    .iradio_flat-red {
        background-image: url(/images/iCheck/flat/red@2x.png);
    }

    /* green */
    .icheckbox_flat-green,
    .iradio_flat-green {
        background: url(/images/iCheck/flat/green@2x.png) no-repeat;
    }

    /* blue */
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background: url(/images/iCheck/flat/blue@2x.png) no-repeat;
    }

    /* aero */
    .icheckbox_flat-aero,
    .iradio_flat-aero {
        background: url(/images/iCheck/flat/aero@2x.png) no-repeat;
    }

    /* grey */
    .icheckbox_flat-grey,
    .iradio_flat-grey {
        background: url(/images/iCheck/flat/grey@2x.png) no-repeat;
    }

    /* orange */
    .icheckbox_flat-orange,
    .iradio_flat-orange {

        background: url(/images/iCheck/flat/orange@2x.png) no-repeat;
    }
    /* yellow */
    .icheckbox_flat-yellow,
    .iradio_flat-yellow {
        background: url(/images/iCheck/flat/yellow@2x.png) no-repeat;
    }

    /* pink */
    .icheckbox_flat-pink,
    .iradio_flat-pink {
        display: inline-block;
        background: url(/images/iCheck/flat/pink@2x.png) no-repeat;
    }

    /* purple */
    .icheckbox_flat-purple,
    .iradio_flat-purple {
        background: url(/images/iCheck/flat/purple@2x.png) no-repeat;
    }

    .icheckbox_futurico,
    .iradio_futurico {
        background: url(/images/iCheck/futurico/futurico@2x.png) no-repeat;
    }

    .icheckbox_line .icheck_line-icon,
    .iradio_line .icheck_line-icon,
    .icheckbox_line-red .icheck_line-icon,
    .iradio_line-red .icheck_line-icon,
    .icheckbox_line-green .icheck_line-icon,
    .iradio_line-green .icheck_line-icon,
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon,
    .icheckbox_line-aero .icheck_line-icon,
    .iradio_line-aero .icheck_line-icon,
    .icheckbox_line-grey .icheck_line-icon,
    .iradio_line-grey .icheck_line-icon,
    .icheckbox_line-orange .icheck_line-icon,
    .iradio_line-orange .icheck_line-icon,
    .icheckbox_line-yellow .icheck_line-icon,
    .iradio_line-yellow .icheck_line-icon,
    .icheckbox_line-pink .icheck_line-icon,
    .iradio_line-pink .icheck_line-icon,
    .icheckbox_line-purple .icheck_line-icon,
    .iradio_line-purple .icheck_line-icon {
        background: url(/images/iCheck/line/line@2x.png) no-repeat;
    }

    /* red */
    .icheckbox_minimal-red,
    .iradio_minimal-red {
        background: url(/images/iCheck/minimal/red@2x.png) no-repeat;
    }

    /* green */
    .icheckbox_minimal-green,
    .iradio_minimal-green {
        background: url(/images/iCheck/minimal/green@2x.png) no-repeat;
    }

    /* blue */
    .icheckbox_minimal-blue,
    .iradio_minimal-blue {
        background: url(/images/iCheck/minimal/blue@2x.png) no-repeat;
    }

    /* aero */
    .icheckbox_minimal-aero,
    .iradio_minimal-aero {
        background: url(/images/iCheck/minimal/aero@2x.png) no-repeat;
    }

    /* grey */
    .icheckbox_minimal-grey,
    .iradio_minimal-grey {
        background: url(/images/iCheck/minimal/grey@2x.png) no-repeat;
    }

    /* orange */
    .icheckbox_minimal-orange,
    .iradio_minimal-orange {
        background: url(/images/iCheck/minimal/orange@2x.png) no-repeat;
    }

    /* yellow */
    .icheckbox_minimal-yellow,
    .iradio_minimal-yellow {
        background: url(/images/iCheck/minimal/yellow@2x.png) no-repeat;
    }

    /* pink */
    .icheckbox_minimal-pink,
    .iradio_minimal-pink {
        background: url(/images/iCheck/minimal/pink@2x.png) no-repeat;
    }
    /* purple */
    .icheckbox_minimal-purple,
    .iradio_minimal-purple {
        background: url(/images/iCheck/minimal/purple@2x.png) no-repeat;
    }

    .icheckbox_polaris,
    .iradio_polaris {
        background: url(/images/iCheck/polaris/polaris@2x.png) no-repeat;
    }

    .icheckbox_square,
    .iradio_square {
        background: url(/images/iCheck/square/square@2x.png) no-repeat;
    }

    .icheckbox_square,
    .iradio_square {
        background: url(/images/iCheck/square/square@2x.png) no-repeat;
    }

    /* red */
    .icheckbox_square-red,
    .iradio_square-red {
        background: url(/images/iCheck/square/red@2x.png) no-repeat;
    }

    /* green */
    .icheckbox_square-green,
    .iradio_square-green {
        background: url(/images/iCheck/square/green@2x.png) no-repeat;
    }

    /* blue */
    .icheckbox_square-blue,
    .iradio_square-blue {
        background: url(/images/iCheck/square/blue@2x.png) no-repeat;
    }

    /* aero */
    .icheckbox_square-aero,
    .iradio_square-aero {
        background: url(/images/iCheck/square/aero@2x.png) no-repeat;
    }

    /* grey */
    .icheckbox_square-grey,
    .iradio_square-grey {
        background: url(/images/iCheck/square/grey@2x.png) no-repeat;
    }

    /* orange */
    .icheckbox_square-orange,
    .iradio_square-orange {
        background: url(/images/iCheck/square/orange@2x.png) no-repeat;
    }

    /* yellow */
    .icheckbox_square-yellow,
    .iradio_square-yellow {
        background: url(/images/iCheck/square/yellow@2x.png) no-repeat;
    }

    /* pink */
    .icheckbox_square-pink,
    .iradio_square-pink {
        background: url(/images/iCheck/square/pink@2x.png) no-repeat;
    }

    /* purple */
    .icheckbox_square-purple,
    .iradio_square-purple {
        background: url(/images/iCheck/square/purple@2x.png) no-repeat;
    }

}